.boardContainer {
  height: 15.5rem;
  width: 15.5rem;
  margin-top: 1.5rem;
  padding: 0.1rem;

  align-self: center;
  align-content: center;
  justify-content: center;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(8, 1.875rem);
  grid-template-rows: repeat(8, 1.875rem);

  background-color: #313143; /* colorSecondary */
  border-radius: 5px;
  color: #404040; /* colorFontMain */
  font-size: 0.75rem;
}