.footerContainer {
  width: 100%;
  height: clamp(2rem, 1.5rem + 1vw, 3rem);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #0027aa; /* colorPrimaryDark */
  color: #f4f4f4; /* colorBg */
}

.footerText {
  padding-right: 2.75rem;
  font-size: clamp(0.625rem, 0.2rem + 1vw, 0.75rem);
  color: #98aff9; /* colorPrimaryLight  */
}

.footerCredits {
  font-weight: bold;
  color: #98aff9; /* colorPrimaryLight  */
}
