.app {
   width: 100%;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  background-repeat: repeat;
  background-color: #f4f4f4; /* colorBg */
  background-size: cover;
}
